rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /config/site {
      allow read: if true;
      allow write: if request.auth != null;
    }
  }
}
